@import "./../../node_modules/github-markdown-css/github-markdown.css";
@import "./../../node_modules/prismjs/themes/prism-okaidia.min.css";
/* @import "./../node_modules/prismjs/themes/prism-solarizedlight.min.css"; */
@import "./presentation.css";

:root {
  --blue: #456d8a;
  --darkBlue: #003973;
  --darkestBlue: #002e5c;
  --yellow: #d9c243;
  --yellowDark: #a49024;
  --yellowContrast: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--blue);
}
