body {
  overflow-x: hidden;
}

.slides {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.slides-preview {
  width: 50vw;
  height: 100%;
  margin: 1rem auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}

.slides-preview .slide {
  position: relative;
  transform: none !important;
  margin: 0;
}

.slide-preview-number {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: rgba(255, 255, 255, 0.3);
  font-size: 2rem;
}

.slide-preview-number.active {
  color: white;
}

.slide {
  transition: transform 400ms ease-in;
  transform: translate(100%, 100%);
  position: absolute;
  top: 0;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.slide:first-of-type {
  transform: translate(0%, 0%);
}

.slide .markdown-body {
  padding: 2rem;
  height: inherit;
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.markdown-body pre {
  padding: 0;
  display: inline-block;
}

.markdown-body pre code {
  padding-right: 1rem;
  margin: 1rem;
  margin-right: 0;
}

code > span > span {
  height: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
}

.code-line {
  display: flex;
  position: relative;
  padding-left: 2rem;
  transition: filter 200ms ease-in;
}

.code-line .line-number {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  justify-content: end;
  width: 3rem;
  padding-right: 0.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  /* border-right: 2px solid rgba(0, 0, 0, 0.3); */
}

.code-line.blurred {
  filter: blur(0.07rem);
}

.line-numbers .line-numbers-rows {
  top: -4px;
}

.line-numbers-rows > span {
  height: 24px;
}

.progress-container {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1rem;
  width: 100%;
}

.progress-container > div {
  height: inherit;
  background-color: yellow;
  width: 0%;
  transition: width 300ms ease-in;
}

.control-buttons {
  position: absolute;
  bottom: 4rem;
  right: 6rem;
  display: flex;
  gap: 1rem;
}

.arrow {
  position: absolute;
  background: none;
  border: solid black;
  border-width: 0 0.5rem 0.5rem 0;
  display: inline-block;
  padding: 0.5rem;
  transition: 200ms ease-in;
  cursor: pointer;
}

.arrow:hover {
  border: solid black;
  border-width: 0 0.65rem 0.65rem 0;
}

.right {
  top: 0;
  right: -2.5rem;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.left {
  top: 0;
  left: -2.5rem;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
}
