@import "./normalize.css";
@import "./../node_modules/github-markdown-css/github-markdown.css";
/* @import "./../node_modules/prismjs/themes/prism-tomorrow.min.css"; */
@import "./../node_modules/prismjs/themes/prism-okaidia.min.css";
/* @import "./prism.css"; */

.slides {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

code > span > span {
  height: 24px;
  line-height: 24px;
  display: inline-flex;
  align-items: center;
}

.code-line {
  display: flex;
  position: relative;
  padding-left: 3rem;
  transition: filter 200ms ease-in;
}

.code-line .line-number {
  position: absolute;
  top: 0;
  left: -4rem;
  display: inline-flex;
  justify-content: end;
  width: 3rem;
  padding-right: 0.5rem;
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.code-line.blurred {
  filter: blur(0.07rem);
}

.line-numbers .line-numbers-rows {
  top: -4px;
}

.line-numbers-rows > span {
  height: 24px;
}
